- hosts: localhost
  roles:
  - role: ome.omero_server
    omero_server_python_addons:
        - reportlab
        - markdown
  vars:
    java_versions: ["11"]
    omero_server_database_manage: False
    omero_server_selfsigned_certificates: True
    omero_server_systemd_setup: False
    omero_server_system_uid: 1000
    omero_server_virtualenv: True
    omero_server_python3: True
    omero_server_python3_replace_omero: False
    postgresql_version: "14"
